<template name="DonationLanding">
    <div class="container-fluid scroll-to-here Donation-Landing">
        <div class="col col-lg-offset-1 col-lg-10 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col col-lg-offset-1 col-lg-4 col-md-4 col-sm-11 col-xs-12">
                    <h1 class="text-center uppercase-this">Donate Here</h1>

                    <div class="well well1 text-center">
                        {{#if configId}}
                            <form method="GET" id="landing_form">
                                <input type="hidden" name="donateTo">
                                <input type="hidden" name="donateWith">
                                <input type="hidden" id="placeholder_donate_input">
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    <input class="form-control" min="1"
                                           name="amount" placeholder="45"
                                           step="any" type="number">
                                </div>
                                <label for="selectTestMain">What would you like to give to?</label>
                                <br>
                                <select id="mainDD" class="form-control select select-primary mbl" >
                                    {{#each givingOptions}}
                                        {{#if groupId}}
                                            <option value="{{groupId}}">{{text}}</option>
                                        {{/if}}
                                    {{/each}}
                                </select>
                                <br>

                                <label>
                                    Select an option
                                </label>
                                {{#each donationGroups}}
                                    <select id="dd-{{groupId}}" class="form-control select select-primary mbl">
                                        <optgroup label="{{text}}">{{text}}</optgroup>
                                        {{#each children}}
                                            <option value="{{id}}"
                                                    data-description="{{description}}"
                                                    data-imagesrc="{{imageSrc}}">
                                                {{text}}
                                            </option>
                                        {{/each}}
                                    </select>
                                {{/each}}
                                <p id="depends-on-WriteIn"></p><input name="to" type="hidden" value="">

                                <p class="">
                                    <button class="btn btn-success btn-success-color btn-sm gradiant-button" id="cardButton"
                                            title="Donate by card">Donate by <img alt="Credit Card" src="/images/icons/icon-cc.png" title="Donate by card">
                                    </button>
                                    <button class="btn btn-success btn-success-color btn-sm gradiant-button" id="checkButton"
                                            title="Donate by check">Donate by <img alt="Check" src="/images/icons/icon-check-reduced.png" title="Donate by check">
                                    </button>
                                </p>
                            </form>
                        {{/if}}

                    </div>
                    <br>

                    <div class="well well1 text-center">
                        <p>
                            <a class="list-group-item btn btn-default white-button-text" id="other_ways_to_give">Other Ways To Give</a>
                        </p>

                        <h6><strong>Mailing a check?</strong></h6>

                        <span>
                            {{org_name}}<br>
                            {{org_street_address}}<br>
                            {{org_city}}, {{org_state_short}} {{org_zip}}
                        </span>

                        <p>
                            <strong>Need help giving? <a href="tel:{{org_phone}}">{{org_phone}}</a></strong>
                        </p>
                    </div>
                </div>

                <div class="col col-md-1 col-sm-1 col-xs-1"></div>

                <div class="col col-lg-offset-1 col-lg-6 col-md-7 col-sm-offset-1 col-sm-10 col-xs-12">
                    <h1 class="uppercase-this">Your giving guide</h1>
                    {{#each givingGuide}}
                        {{#if show}}
                            <div class="row">
                                <div class="guide-item reduced-left-padding col col-lg-12 sol-md-12 col-sm-12 col-xs-12 giving-detail-area" id="{{groupId}}">
                                    <div class="reduced-left-padding col col-lg-2 col-md-2 col-sm-2 col-xs-3">
                                        {{#if icon}}
                                            <span class="fa-stack fa-2x">
                                              <i class="fa fa-stack-2x fa-circle-o"></i>
                                              <i class="fa fa-stack-1x {{icon}}"></i>
                                            </span>
                                        {{/if}}
                                    </div>

                                    <div class="col col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                        <p class="small-bottom v-top uppercase-this"><strong>{{title}}</strong></p>

                                        <p><em>{{description}}</em></p>
                                    </div>
                                </div>
                            </div>
                        {{/if}}
                    {{/each}}
                </div>
            </div>
            {{> OtherWaysToGive}}
        </div>
    </div>
</template>