<template name="OtherWaysToGive">
    <div class="modal fade" id="modal_for_other_ways_to_give">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title text-center"><strong>Other Ways To GIve</strong></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                          <h6 class="heading">DONATE STOCK</h6>
                          <p class="p-1">We're able to accept donations in the form of stock, government (including municipal) debt and corporate debt through the Depository Trust Company (DTC). For security, settlement and reduced paperwork, electronic transfer through the DTC is preferred.
                              This can be arranged from most brokerage accounts.</p>
                            <p class="p-1">*Please contact info@trashmountain.com in advance so your stock donation can be easily tracked for tax purposes.</p>
                        </span>
                        <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                          <h6 class="heading">INTERNATIONAL GIVING</h6>
                          <p class="p-1">We apologize but we don't accept foreign checks at this time. However, international banks can issue money orders in USD. Money orders should be made payable to Trash Mountain Project and can be mailed to the address listed below. </p>
                          <p class="p-1">*Please note, only donations from within the U.S. are tax-deductible.</p>

                        <p>Trash Mountain Project<br/>
                            1555 NW Gage BLVD<br/>
                            Topeka, KS 66618<br/>
                            EIN: 26-4775012<br/>
                            Trash Mountain Project is a 501(c)(3)<br/>
                        </p>
                        </span>
                    </div>
                    <a type="button" data-code="9f4c6e03fdd87a453630ada8b5d40da7" class="btn btn-default btn-md" href="https://coinbase.com/checkouts/9f4c6e03fdd87a453630ada8b5d40da7">
                        <span class="glyphicon glyphicon-star"></span> Donate Bitcoins
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>