<template name="OtherWaysToGive">
    <div class="modal fade" id="modal_for_other_ways_to_give">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title text-center"><strong>Other Ways To GIve</strong></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                          <h6 class="heading">DONATE STOCK</h6>
                          <p class="p-1">We're able to accept donations in the form of stock, government (including municipal) debt and corporate debt through the Depository Trust Company (DTC). For security, settlement and reduced paperwork, electronic transfer through the DTC is preferred.
                              This can be arranged from most brokerage accounts.</p>
                            <p class="p-1">*Please contact {{contact_address}} in advance so your stock donation can be easily tracked for tax purposes.</p>
                        </span>
                        <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                          <h6 class="heading">INTERNATIONAL GIVING</h6>
                          <p class="p-1">We apologize but we don't accept foreign checks at this time. However, international banks can issue money orders in USD. Money orders should be made payable to {{org_name}} and can be mailed to the address listed below. </p>
                          <p class="p-1">*Please note, only donations from within the U.S. are tax-deductible.</p>

                        <p>{{org_name}}<br/>
                            {{org_street_address}}<br/>
                            {{org_city}}, {{org_state}} {{org_zip}}<br/>
                            EIN: {{org_ein}}<br>
                            {{#if org_is_501c3}}{{org_name}} is a 501(c)(3)<br>{{/if}}
                        </p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>