.uploads
settings.json
doulos-settings.json
dev_settings.json
.idea
start-dev.sh
start-ngrok.sh
start-doulos-ngrok.sh
start-local.sh
start-doulos.sh
start-tunnel.sh
.DS_Store
npm-debug.log
bundle.tar.gz
start-local-debug.sh
node_modules