<template name="tutorial_user_profile_step1">
    This is step 1 of the user tutorial.
</template>

<template name="tutorial_user_profile_step2">
    This is step 2 of the user tutorial.
</template>
<template name="tutorial_user_profile_step3">
    This is step 3 of the user tutorial.
</template>

<template name="tutorial_subscriptions_step1">
    This is step 1 of subscriptions the tutorial.
</template>

<template name="tutorial_subscriptions_step2">
    This is step 2 of subscriptions the tutorial.
</template>

<template name="tutorial_subscriptions_step3">
    This is step 3 of subscriptions the tutorial.
</template>

<template name="tutorial_subscriptions_step4">
    This is step 4 of subscriptions the tutorial.
</template>

<template name="tutorial_subscriptions_step5">
    This is step 5 of subscriptions the tutorial.
</template>

<template name="tutorial_give_step1">
    This is step 1 of give the tutorial.
</template>

<template name="tutorial_give_step2">
    This is step 2 of give the tutorial.
</template>

<template name="tutorial_give_step3">
    This is step 3 of give the tutorial.
</template>

<template name="tutorial_give_step4">
    This is step 4 of give the tutorial.
</template>

<template name="tutorial_give_step5">
    This is step 5 of give the tutorial.
</template>