<template name="UserNav">
    <nav class="navbar navbar-collapse navbar-top hidden-print" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#example-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{org_homepage_url}}" target="_blank">
                <img class="logoImage" src="/images/bw_logo_new.png">
            </a>

            {{#if MeteorUser}}
                {{#unless $or dismissedNewStuff (isInRole 'admin-only')}}
                    <div class="contain-peek" style="overflow: hidden;
                             position: relative;
                             top: 21px;
                             height: 53px;
                             width: 90px;
                             padding-bottom: 0;
                             margin-bottom: 0;
                             left: 20px;">
                        <div class="peek-from-bottom-of-nav"
                             style="position: absolute;
                             height: 100px;
                             width: 90px;
                             top: -14px;
                             transition: 2s;">
                            <a class="btn btn-default-bright pull-right" href="#offcanvas-what-is-new"
                               id="#offcanvas-what-is-new-button" data-toggle="offcanvas">
                                New stuff!
                            </a>
                        </div>
                    </div>
                {{/unless}}
            {{/if}}
        </div>
        <div class="collapse navbar-collapse navbar-right" id="example-navbar-collapse">
            <ul class="nav navbar-nav">
                {{#if MeteorUser}}
                    {{#if isInRole 'admin, manager, reports'}}
                        <li class="">
                            <a id="nav-dashboard" class="nav-bar-links" href="{{pathFor 'Dashboard'}}"><span class="fa fa-dashboard"></span> Dashboard</a>
                        </li>
                    {{/if}}
                    {{#if isInRole 'admin, manager, reports'}}
                        <li class="">
                            <a id="nav-dashboard" class="nav-bar-links" href="{{pathFor 'Reports'}}"><span class="fa fa-table"></span> Reports</a>
                        </li>
                    {{/if}}
                    {{#unless isInRole 'no-dt-person'}}
                        <li class="">
                            <a id="nav-profile" class="nav-bar-links" href="{{pathFor 'user.profile'}}"><span class="fa fa-history"></span> Profile & Giving History</a>
                        </li>
                        <li class="">
                            <a id="nav-subscriptions" class="nav-bar-links" href="{{pathFor 'subscriptions'}}"><span class="fa fa-refresh"></span> Recurring Gifts</a>
                        </li>
                        <li class="">
                            <a id="nav-give" class="nav-bar-links" href="{{pathFor 'user.give'}}"><span class="fa fa-plus-circle"></span> Give</a>
                        </li>
                    {{/unless}}
                    <li class="">
                        <a id="nav-password" class="nav-bar-links" href=""><span class="fa fa-unlock-alt"></span> Change Password</a>
                    </li>
                    <li class="">
                        <a id="nav-sign-out" href="" class="nav-bar-links at-link at-signout">Sign Out</a>
                    </li>
                {{else}}
                    <li class="">
                        <a href="/sign-in" id="at-signIn" class="nav-bar-links at-link at-signin">Sign In</a>
                    </li>
                {{/if}}
            </ul>
        </div>
    </nav>
</template>