<template name="ACH">
    <h1>
        ACH Gifts
    </h1>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Pending Setup</th>
                <th>Name</th>
                <th>To</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Status</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                {{#each bankAccounts}}
                    <tr class="{{ifRecurringSelectedText}}">
                        <td class="text-center">
                            {{#if pendingSetup}}
                                <input type="checkbox" data-toggle="checkbox" class="custom-checkbox pending-setup-checkbox">
                            {{/if}}
                        </td>
                        <td>{{donorName}}</td>
                        <td>{{donationTo}}</td>
                        <td>{{donationAmount}}</td>
                        <td>{{donationDate}}</td>
                        <td>{{donationStatus}}</td>
                        <td class="text-center">BUTTONS HERE</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</template>
