<template name="ACH">
    <div class="row">
        <div class="col col-lg-12">
            {{#if isInRole 'admin'}}
                {{#unless showSingleRecord}}
                    <form class="form" id="achSearchForm">
                        <div class="form-group">
                            <label for="searchACH" class="control-label">Search for ACH(s)</label>
                            <input id="searchACH" type="text" class="form-control search" placeholder="Search by; name, org. or email">
                        </div>
                    </form>
                    <button type="button" class="btn btn-danger btn-block clear-button">
                        Clear
                    </button>
                    <table class="table table-striped table-hover no-margin">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>To</th>
                            <th>Amount</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Routing Number</th>
                            <th>Account Number</th>
                            <th>Account Type</th>
                            <th>Frequency</th>
                            <th class="text-center">Actions</th>
                        </tr>
                        </thead>
                        <tbody class="users">
                            {{#each donations}}
                                <tr class="{{donationFrequency}}" data-id="{{_id}}">
                                    <td>{{donorName}}</td>
                                    <td>{{donateToThis donateTo}}</td>
                                    <td>{{donationAmount}}</td>
                                    <td>{{donationDate}}</td>
                                    <td>{{status}}</td>
                                    <td>{{routingNumber}}</td>
                                    <td class="show-account-number pointer-mouse">
                                        <label class="label label-primary pointer-mouse">Show</label>
                                    </td>
                                    <td>{{accountType}}</td>
                                    <td>
                                        <label class="label label-important">{{donationFrequency}}</label>
                                    </td>
                                    <td class="text-center">
                                        {{#if pendingSetup}}
                                            <button type="button" {{disabledIfBeforeToday}} class="btn btn-primary pending-setup"
                                                    title="Send new gift to Donor Tools"
                                                    data-loading-text="<i class='fa fa-spinner fa-spin'></i>"
                                                    data-toggle="confirmation"
                                                    aria-expanded="true">
                                                <i class="fa fa-paper-plane"></i>
                                            </button>
                                        {{else}}
                                            <button type="button" {{disabledIfBeforeToday}} class="btn btn-primary"
                                                    title="Send new instance of recurring gift to Donor Tools"
                                                    data-toggle="confirmation"
                                                    data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                                                <i class="fa fa-paper-plane"></i>
                                            </button>
                                        {{/if}}
                                        <button type="button"
                                                title="Edit the gift details"
                                                class="btn btn-primary edit-ach"
                                                data-id="{{_id}}">
                                                <i class="fa fa-pencil"></i>
                                        </button>
                                        {{#if ($eq donationFrequency 'recurring')}}
                                            <button type="button"
                                                    title="Remove this recurring gift"
                                                    class="btn btn-primary stop-recurring"
                                                    data-id="{{_id}}"
                                                    data-loading-text="<i class='fa fa-spinner fa-spin'></i>"
                                                    data-toggle="confirmation"
                                                    aria-expanded="true">
                                                <i class="fa fa-stop"></i>
                                            </button>
                                        {{/if}}
                                        {{#if personaId}}
                                            <a href="{{donor_tools_site}}/people/{{personaId}}" target="_blank">
                                                <button type="button"
                                                    title="See this user in Donor Tools"
                                                    class="btn btn-primary">
                                                    <i class="fa fa-link"></i>
                                                </button>
                                            </a>
                                        {{/if}}
                                    </td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                {{/unless}}
            {{/if}}
        </div>
    </div>
    {{> ACHModal}}
</template>
