<template name="OffCanvas">
    <div class="base">
        <div class="offcanvas">
            <!-- BEGIN OFFCANVAS WHAT IS NEW -->
            <div id="offcanvas-what-is-new" class="offcanvas-pane width-10">
                <div class="offcanvas-head">
                    <h3>New Stuff!</h3>
                    <div class="offcanvas-tools">
                        <button type="button" class="close" data-dismiss="offcanvas"><span aria-hidden="true">&times; &nbsp;</span><span class="sr-only">Close</span></button>
                    </div>
                </div>
                <div class="offcanvas-body">
                    <ul>
                        <li>
                            <strong><a href="/user" data-dismiss="offcanvas">Profile</a></strong><br>
                            Edit your profile and see your giving history.
                        </li>
                        <li>
                            <strong><a href="/user/subscriptions" data-dismiss="offcanvas">Recurring gifts</a></strong><br>
                            Update your recurring gifts.
                        </li>
                        <li>
                            <strong><a href="/user/give" data-dismiss="offcanvas">Give</a></strong><br>
                            Quickly Give a new gift.
                        </li>
                    </ul>
                    {{#if isDesktop}}
                        {{#unless not_safari}}
                            <p>
                                <button id="start_tutorial" class="btn btn-primary" data-dismiss="offcanvas">
                                    Show Me
                                </button>
                            </p>
                        {{/unless}}
                    {{/if}}
                    <p>&nbsp;</p>
                    <h4>Got it</h4>
                    <p>
                        <a class="btn btn-danger dismiss-what-is-new" data-dismiss="offcanvas">
                            Don't show again until next update
                        </a>
                    </p>
                </div>
            </div>
            <!-- END OFFCANVAS -->
        </div>
    </div>
</template>