<template name="Modals">
    <div class="modal fade" id="modal_for_initial_donation_error">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><strong>Sorry</strong>, that didn't work.</h4>
                </div>
                <div class="modal-body">
                    Please check the listed error and try again. If you continue to have problems processing your
                    donation please email <a href="mailto:{{support_address}}?Subject=Donation Problem">{{support_address}}</a> or call
                    <a href="tel:+17852466845">(785)246-6845</a>.
                </div>
                <div class="alert alert-warning">
                    <p><strong>Error category:</strong> <span class="capitalize_this" id="errorCategory"></span></p>
                    <p><strong>Error Description:</strong> <span id="errorDescription"></span></p>
                </div>
            </div>
        </div>
    </div>

    <!--This area is the modal that takes the write in information from the user when they first get to the donation page.
    It only appears if they had previously selected "Support a trip participant" -->
    <div class="modal fade" id="modal_for_write_in">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><strong>Enter</strong> a designation below.</h4>
                </div>
                <div class="modal-body">
                    <p>You selected the 'Support a Trip Participant', please enter a description of where you want the
                        funds to be directed. If you have any questions or don't seem to be finding what you are looking
                        for please email us. Thanks </p>
                    <a href="mailto:{{contact_address}}?Subject=Donation Question">{{contact_address}}.</a>
                    <p>
                        <input id="writeIn" data-parsley-type="text" class="form-control slim-borders"
                               placeholder="Name or other designation." />
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="write_in_save">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!--This area is the modal that takes the OTR campaign information from the user when they first get to the donation page.
    It only appears if the campaign param has a value of OTR -->

    <!-- TODO:

        1. Gather information about the combobox
            - Textbox (H: 60px, W:260px)
            - Button (H: 60px, w: 60px, bg: #1f7f5c)
            - Unordered List (H: x, W: 320px, bg: #1f7f5c, item-border: #2a8664)
            - Font (@import url(https://fonts.googleapis.com/css?family=Montserrat);)

        2. Style textbox
        3. Style button
        4. Style ul
        5. Show/hide ul when button is clicked


    -->
    <div class="modal fade" id="modal_for_otr">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><strong>Choose</strong> a church below.</h4>
                </div>
                <div class="modal-body">
                    <p>Thanks for attending an "On the Road" event. Please pick a church.</p>
                    <!--
                    <div class="combobox">
                        <input type="text" value="Hello" class="txtbox" id="campaignDropdown">
                        <a href="#" class="txtbox-btn">Go</a>
                    </div>
                    <ul class="combobox-options">
                        {{#each churchSources}}
                            <li value="{{sourceId}}"><span>{{OTRSourceName}}</span></li>
                        {{/each}}
                    </ul>
                    -->
                    <select id="options">
                        <option>Options1</option>
                        <option>Options2</option>
                    </select>
                    <p>
                        Questions? -> please <a href="mailto:{{contact_address}}?Subject=Donation Question - OTR event">email us.</a> Thanks
                        <a href="mailto:{{contact_address}}?Subject=Donation Question">{{contact_address}}.</a>
                    </p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="otr_save">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div id="spinDiv" class="fadeMe">
      {{> spinner}}
    </div>
</template>