<template name="Modals">
    <div class="modal fade" id="modal_for_initial_donation_error">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><strong>Sorry</strong>, that didn't work.</h4>
                </div>
                <div class="modal-body">
                    Please check the listed error and try again. If you continue to have problems processing your
                    donation please email <a href="mailto:{{support_address}}?Subject=Donation Problem">{{support_address}}</a> or call
                    <a href="tel:+17852466845">(785)246-6845</a>.
                </div>
                <div class="alert alert-warning">
                    <p><strong>Error category:</strong> <span class="capitalize_this" id="errorCategory"></span></p>
                    <p><strong>Error Description:</strong> <span id="errorDescription"></span></p>
                </div>
            </div>
        </div>
    </div>

    <!--This area is the modal that takes the write in information from the user when they first get to the donation page.
    It only appears if they had previously selected "Support a trip participant" -->
    <div class="modal fade" id="modal_for_write_in">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><strong>Enter</strong> a designation below.</h4>
                </div>
                <div class="modal-body">
                    <p>Please enter the name of the trip participant you'd like to support 
                    (or the specific place you'd like the funds to be directed). 
                    If you have any questions please click 
                    <a href="mailto:{{contact_address}}?Subject=Donation Question">
                        this link</a> to email us.</p>
                    <p>
                        <input id="writeIn" data-parsley-type="text" class="form-control slim-borders"
                               placeholder="Name or other designation." />
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="write_in_save">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!--This area is the modal that takes the 1000children campaign information from the user when they first get to the donation page.
    It only appears if the campaign param has a value of 1000children -->
    <div class="modal fade" id="modal_for_serve1000">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title text-center"><strong>Serve
                        1,000</strong></h4>
                </div>
                <div class="modal-body">
                    <p>We’re excited to have you join us for Serve 1,000 as we
                        bring hope to 1,000 children living in trash
                        dumps communities worldwide.</p>
                    <select id="options" data-placeholder="How did you hear about the
                        campaign?">
                        <option></option>
                        {{#each churchSources}}
                            <option value="{{name}} {{city}}"><strong>{{name}}</strong>  <i>{{city}}</i></option>
                        {{/each}}
                    </select>
                    <p>
                        If you have questions please <a
                            href="mailto:{{contact_address}}?Subject=Donation
                             Question - serve 1000 event">email,
                        {{contact_address}}.</a>
                    </p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"
                            id="serve1000_save">Done</button>
                </div>
            </div>
        </div>
    </div>

    <div id="spinDiv" class="fadeMe">
      {{> spinner}}
    </div>
</template>