<template name="Dashboard">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-title">
                {{#if isInRole 'admin'}}
                    <div class="panel-heading">
                        <h2><i class="fa fa-building"></i><span
                                class="break">Configuration</span></h2>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-2">
                                {{#if $not configExists}}
                                    <span style="" class="badge alert-badge backgroundColor indianred">Start Here!</span>
                                {{/if}}
                                <a id="org-info" class="quick-button backgroundColor primary"
                                   href="/dashboard/orginfo">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-rocket"></i>
                                    </span>
                                    <h5>Organization Info.</h5>
                                </a>
                            </div>
                            {{#if configExists}}
                                <div class="col-sm-2">
                                    {{#if $not completedDonorTools}}
                                        <span style="" class="badge alert-badge backgroundColor indianred">Needs a Donor Tools URL!</span>
                                    {{/if}}
                                    <a id="settings-dashboard-button" class="quick-button backgroundColor primary"
                                       href="/dashboard/settings">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-cogs"></i>
                                    </span>
                                        <h5>Settings</h5>
                                    </a>
                                </div>
                                <div class="col-sm-2">
                                    {{#if $not givingOptions}}
                                        <span style="" class="badge alert-badge backgroundColor indianred">Setup After Donor Tools URL</span>
                                    {{/if}}
                                    <a id="giving-options" class="quick-button backgroundColor primary"
                                       href="/dashboard/giving_options">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-repeat"></i>
                                    </span>
                                        <h5>Giving Options</h5>
                                    </a>
                                </div>
                                <div class="col-sm-2">
                                    {{#if $not givingOptions}}
                                        <span style="" class="badge alert-badge backgroundColor indianred">Setup After Giving Options</span>
                                    {{/if}}
                                    <a id="giving-guide" class="quick-button backgroundColor primary"
                                       href="/dashboard/giving_guide">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-compass"></i>
                                    </span>
                                        <h5>Giving Guide</h5>
                                    </a>
                                </div>
                                <div class="col-sm-2">
                                    <a id="services-dashboard-button" class="quick-button backgroundColor primary"
                                       href="/dashboard/services">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-server"></i>
                                    </span>
                                        <h5>Services</h5>
                                    </a>
                                </div>
                                <div class="col-sm-2">
                                    <a id="services-dashboard-button" class="quick-button backgroundColor primary"
                                       href="/dashboard/logos">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-fort-awesome"></i>
                                    </span>
                                        <h5>Logos</h5>
                                    </a>
                                </div>
                            {{/if}}
                        </div>
                    </div>
                {{/if}}
                {{#if showOtherThanConfig}}
                    <div class="panel-heading">
                        <h2><i class="fa fa-table"></i><span class="break">Reports</span></h2>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-2">
                                <a id="transfers" class="quick-button backgroundColor primary" href="/transfers">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-exchange"></i>
                                    </span>
                                    <h5>Stripe Transfers</h5>
                                </a>
                            </div>
                            <div class="col-sm-2">
                                <a class="quick-button backgroundColor primary" href="expiring">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-credit-card"></i>
                                    </span>
                                    <h5>Expiring Cards</h5>
                                </a>
                            </div>
                        </div>
                    </div>
                {{#if showGetStripeEvent}}
                    <div class="row">
                        <div class="col col-lg-2"></div>
                        <div class="col-lg-8">
                            {{> GetStripeEvent}}
                        </div>
                    </div>
                {{/if}}
                <div class="panel-heading">
                    <h2><i class="fa fa-wrench"></i>
                        <span class="break">
                            Tools
                        </span>
                    </h2>
                </div>
                <div class="panel-body">
                    {{#if isInRole 'admin'}}
                        <div class="row">
                            {{#if $eq stripe_ach_verification_type 'manual'}}
                                <div class="col-sm-2">
                                    <a id="manual-ach" class="quick-button backgroundColor primary" href="/dashboard/ach">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-bank"></i>
                                </span>
                                        <h5>ACH</h5>
                                    </a>
                                </div>
                            {{/if}}
                            <div class="col-sm-2">
                                <a id="users-and-roles" class="quick-button backgroundColor primary" href="/dashboard/users">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-user"></i>
                                </span>
                                    <h5>Users & Roles</h5>
                                </a>
                            </div>
                            {{#if isInRole 'super-admin'}}
                                <div class="col-sm-2">
                                    <a id="new-gift" class="quick-button backgroundColor primary" href="">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-gift"></i>
                                    </span>
                                        <h5>New Gift</h5>
                                    </a>
                                </div>
                            {{/if}}
                            <div class="col-sm-2">
                                <a id="get-dt-split" class="quick-button backgroundColor primary" href="{{pathFor 'DtReport'}}">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-code-fork"></i>
                                    </span>
                                    <h5>Get DT Split Data</h5>
                                </a>
                            </div>
                            <div class="col-sm-2">
                                <a id="get-dt-funds"
                                   class="quick-button backgroundColor primary"
                                   href=""
                                   data-loading-text="
                                   <span class='fa-stack fa-lg'>
                                     <i class='fa fa-spinner fa-spin'></i>
                                   </span>
                                    <h5>
                                        Retrieving from Donor Tools...
                                    </h5>">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-money"></i>
                                    </span>
                                    <h5>
                                        Get DT Funds
                                    </h5>
                                </a>
                            </div>
                            <div class="col-sm-2">
                                <a id="get-dt-sources"
                                   class="quick-button backgroundColor primary"
                                   href=""
                                   data-loading-text="
                                   <span class='fa-stack fa-lg'>
                                     <i class='fa fa-spinner fa-spin'></i>
                                   </span>
                                    <h5>
                                        Retrieving from Donor Tools...
                                    </h5>">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-code"></i>
                                    </span>
                                    <h5>Get DT Sources</h5>
                                </a>
                            </div>
                        </div>
                    {{/if}}
                    <br>
                    <div class="row">
                        <div class="col-sm-2">
                            <a id="get-dt-split" class="quick-button backgroundColor primary"
                               href="{{pathFor 'AdminSubscriptions'}}">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-columns"></i>
                                </span>
                                <h5>Show Recurring Gifts</h5>
                            </a>
                        </div>
                        <div class="col-sm-2">
                            <a id="merge-dt-persona" class="quick-button backgroundColor primary" href="">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-compress"></i>
                            </span>
                                <h5>Merge DT accounts</h5>
                            </a>
                        </div>
                        <div class="col-sm-2">
                            <a id="move-gift" class="quick-button backgroundColor primary" href="">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-arrows"></i>
                                </span>
                                <h5>Move Gift</h5>
                            </a>
                        </div>
                        {{#if isInRole 'admin'}}
                            <div class="col-sm-2">
                                <a id="show-get-stripe-event" class="quick-button backgroundColor primary" href="">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-search"></i>
                                    </span>
                                    <h5>Get Stripe Event</h5>
                                </a>
                            </div>
                            <div class="col-sm-2">
                                <a id="show-fix-no-user" class="quick-button backgroundColor primary" href="">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-wrench"></i>
                                    </span>
                                    <h5>Fix No Local User</h5>
                                </a>
                            </div>
                        {{/if}}
                        {{#if isInRole 'admin, trips-manager'}}
                            <div class="col-sm-2">
                                <span style="" class="badge alert-badge backgroundColor indianred">BETA</span>
                                <a class="quick-button backgroundColor primary" href="{{pathFor 'Trips'}}">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-plane"></i>
                                    </span>
                                    <h5>Trips</h5>
                                </a>
                            </div>
                        {{/if}}
                    </div>
                </div>
                {{/if}}
            </div>
        </div><!--/col-lg-12-->
	</div><!--/row-->
    {{#if showFixNoUser}}
        <div class="row">
            <div class="col col-lg-2"></div>
            <div class="col-lg-8">
                {{> CreateUserIfStripeButNotLocalExists}}
            </div>
        </div>
    {{/if}}
    {{#if isInRole 'admin'}}
        {{> AdminGive}}
    {{/if}}
    {{#if isInRole 'admin, manager'}}
        {{> AdminMoveGift}}
        {{> AdminMergePersona}}
    {{/if}}
</template>