
<template name="EditUser">
    <div class="profile">
        {{#autoForm collection=Meteor.users schema=schema id="edit-user-form" type="method-update" meteormethod="updateUser" doc=this}}
            <div class="content has-header overflow-scroll">
                <button type="button" class="btn btn-danger btn-raised cancel-button">Cancel</button>

                <div class="padding">
                    <br>
                    <fieldset>
                            <!-- TODO: what if this is the current user?
                        Need to also log this user out if they update
                        their email address -->
                        <!-- TODO: Also need to warn the user that they
                        are updating their own address and they won't
                        be able to get back in until they have verified it -->

                        <!-- TODO: consider sending an email to all
                        admins when this sort of change is made -->

                        <div class="row">
                            <div class="col-md-6">
                                {{> afQuickFields omitFields="roles, email, state, persona_ids, persona_id, persona_info" style="color: black;" }}
                            </div>
                            <div class="col-md-6">
                                {{> afQuickField name="emails.0.address" label="Email Address"}}
                                {{> afQuickField name="emails.0.verified" value=true type="hidden" }}
                                {{#unless isCurrentUser}}
                                {{else}}
                                    {{> afQuickField name="state.status" }}
                                {{/unless}}
                                <div class="col-md-6">
                                    <label for="roles" class="control-label">Roles</label>
                                    <div class="form-group">
                                        <select name="roles" data-schema-key="roles" class="lowercase" multiple title='Choose at least one of the following...'>
                                            {{#each roles}}
                                                <option {{selected}} value="{{name}}">{{name}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <span class="help-block">Hold down the Ctrl (windows) / Command (Mac) button to select multiple roles.</span>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <button type="submit" class="btn btn-success btn-raised">Submit</button>

            </div>
        {{/autoForm}}
    </div>
</template>
