<template name="RoleDocumentation">
    <a tabindex="0" role="button" data-toggle="popover"
            data-trigger="focus" data-placement="bottom"
            data-content="<ul style='padding-left: 10px;'>
        <li>
            Users:
            <ul>
                <li>
                    View past giving
                </li>
                <li>
                    Update profile information. <br>
                    This info will be pushed into DonorTools
                </li>
                <li>
                    Manage recurring gifts
                </li>
                <li>
                    Give via the quick give form
                </li>
            </ul>
        </li>
        <li>
            Managers:
            <ul>
                <li>
                    All user functions, plus
                </li>
                <li>
                    View/Change all Recurring Gifts
                </li>
                <li>
                    View/post Stripe transfer reports
                </li>
                <li>
                    View expiring cards
                </li>
                <li>
                    DonorTools account merging
                </li>
            </ul>
        </li>
        <li>
            Admins:
            <ul>
                <li>
                    All manager functions, plus
                </li>
                <li>
                    Manage Users
                </li>
                <li>
                    Edit organization information
                </li>
                <li>
                    View/edit giving options
                </li>
            </ul>
        </li>
    </ul>"><i class="fa fa-question-circle"></i></a>
</template>