<template name="RoleDocumentation">
    <ul>
        <li>
            Admins:
            <ul>
                <li>
                    Add/Remove Users
                </li>
                <li>
                    Change user roles
                </li>
            </ul>
        </li>
        <li>
            Managers:
            <ul>
                <li>
                    View All Recurring Gifts
                </li>
                <li>
                    Change user roles
                </li>
            </ul>
        </li>
        <li>
            Users:
            <ul>
                <li>
                    Add/Remove Users
                </li>
                <li>
                    Change user roles
                </li>
            </ul>
        </li>
    </ul>

</template>