<template name="Users">
  <div class="row">
    <div class="col col-lg-12">
        {{#if isInRole 'admin'}}
            {{#unless editUser}}
                {{#if addingNew 'user'}}
                    {{> AddUser}}
                    {{else}}
                    {{#if addingNew 'role'}}
                      {{> AddRole}}
                    {{else}}
                      <a href="" class="btn btn-success glyphicon glyphicon-plus addingNewUser" data-add="user"> User</a>
                      <a href="" class="btn btn-success glyphicon glyphicon-plus addingNewRole" data-add="role"> Role</a>
                      <table class="table table-striped table-hover no-margin">
                          <thead>
                          <tr>
                              <!--<th></th>-->
                              <th>Email</th>
                              <th>Name</th>
                              <th>Role(s)</th>
                              <th class="text-center">Actions</th>
                          </tr>
                          </thead>
                          <tbody class="users">
                          {{#each users}}
                              <tr data-id="{{_id}}">
                                  <td class="text-left">{{#if isCurrentUser _id}}<label class="label label-success">You!</label>{{/if}} {{emails.[0].address}}</td>
                                  <td class="text-left">{{profile.fname}} {{profile.lname}}</td>
                                  <td class="text-left">{{#each roles}}{{{roleName}}} {{/each}}</td>
                                  <td class="text-center">
                                      <button type="button" {{disabledIfDisabled}} class="btn forgot-password"
                                        title="Send Password Reset Link"
                                        data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                                          <i class="fa fa-paper-plane"></i>
                                      </button>
                                      <button type="button" class="btn edit-user"><i class="fa fa-pencil"></i></button>
                                      <button type="button" {{disableIfAdmin _id}}
                                              title={{toggleUserText}}
                                              class="btn ink-reaction btn-floating-action btn-loading-state disable-enable-user"
                                                data-original-title="Delete"
                                              data-loading-text="<i class='fa fa-spinner fa-spin'></i>"
                                              data-_id="{{_id}}"
                                              aria-expanded="true">
                                      {{{disabledUserFA}}}
                                          <div class="ink" style="top: 9px; left: 27.5px;"></div>
                                      </button>
                                  </td>
                              </tr>
                          {{/each}}
                          </tbody>
                      </table>
                    {{/if}}
                {{/if}}
            {{else}}
            {{/unless}}
        {{/if}}
    </div>
  </div>
</template>
