
<template name="cardPaymentInformation">
    <!-- CC Info -->
    <div class="form-group">
        <div class="col-md-9 col-sm-9 col-xs-8">
            <!--[if lt IE 9]>
                <label>Card Number</label>
            <![endif]-->
            <input type="text" class="form-control slim-borders" id="card_number"
                   placeholder="Debit/Credit Card Number" data-parsley-type="number" data-parsley-length="[14,16]" data-parsley-error-message="This should be between 14-16 numbers, no dashes or spaces." required>
        </div> <!-- 4111111111111111 -->
        <div class="col-md-3 col-sm-3 col-xs-4">
            <!--[if lt IE 9]>
                <label>CVV Code</label>
            <![endif]-->
            <input type="text" class="form-control slim-borders" id="cvv"
                   placeholder="CVV" data-parsley-type="number" data-parsley-minlength="3" required>
        </div>
    </div>
    <div class="form-group">
        <!--<label class="col-lg-3 col-md-4 col-sm-4 col-xs-3 control-label noRightPadding" for="expiry_month">Expiration Date</label>-->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="expiry_monthDiv">
            <select class="form-control  select select-primary select-block mbl" id="expiry_month" required>
                <option value="">Month</option>
                <option value="01">Jan (01)</option>
                <option value="02">Feb (02)</option>
                <option value="03">Mar (03)</option>
                <option value="04">Apr (04)</option>
                <option value="05">May (05)</option>
                <option value="06">June (06)</option>
                <option value="07">July (07)</option>
                <option value="08">Aug (08)</option>
                <option value="09">Sep (09)</option>
                <option value="10">Oct (10)</option>
                <option value="11">Nov (11)</option>
                <option value="12">Dec (12)</option>
            </select>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" name="expiry_yearDiv">
            <select class="form-control select select-primary select-block mbl" id="expiry_year" required>
                <option value="">Year</option>
                <option value="2016">2016</option>
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
                <option value="2024">2024</option>
                <option value="2024">2025</option>
            </select>
        </div>
        <div class="save-this-payment">
            <!-- Checbox for Covering related fees-->
            <input type="checkbox" name="save_payment" id="save_payment" data-toggle="checkbox" {{save_payment_checked}} />
            Save this payment method for future use <span><i id="save_payment_question" class="fa fa-question-circle" data-toggle="popover"
                                                             data-placement="bottom" data-trigger="hover focus" title="Save Card" data-container="body"
                                                             data-content="If checked, we'll store a secure token of your payment details so you can give quicker using this payment
                 method in the future.">
        </i></span>
        </div>

    </div>
</template>