<template name="DonationForm">
    <div class="container form-container">
        <form class="form-horizontal donation-form" role="form" id="donation_form" name="donation_form" data-parsley-focus="first"
            data-parsley-excluded="input[type=submit], input[type=reset], input[type=hidden], [disabled], :hidden"
            style="background-color: white;">

            <div class="col-md-6 col-md-offset-3">
            </div>
            <div class="col-lg-8 col-md-8 col-md-offset-2">

                <fieldset>
                    {{#unless campaign}}
                        <h2 class="text-center">THANK YOU</h2>
                    {{else}}
                        {{> Progress}}
                    {{/unless}}

                    <!-- Amount of donation -->
                    <div class="donation_amount text-center well well-lg form-group">
                        <div id='amount_width' class="{{amountWidth}}">
                            <label class="control-label" for="amount">Donation Amount</label>

                            {{#unless locked_amount}}
                                <div class="input-group">
                                    <!--[if lt IE 9]>
                                        <label>Amount</label>
                                    <![endif]-->
                                    <span class="input-group-addon">$</span>
                                        <input {{attributes_Input_Amount}} type="digits" value="{{amount}}" class="form-control slim-borders"
                                   required data-parsley-error-message="Please enter an amount with no commas." data-parsley-errors-container="#show-amount-error-here" />
                                </div>
                                <div id="show-amount-error-here"></div>
                            {{else}}
                                <br>
                                <span>$</span>{{amount}}
                                <input {{attributes_Input_Amount}} type="hidden" value="{{amount}}" />
                            {{/unless}}

                        </div>
                        <div class="text-left col-md-7 col-sm-8 col-xs-12">
                            {{#if paymentWithCard}}
                                <!-- Checbox for Covering related fees-->
                                <input type="checkbox" name="coverTheFees" id="coverTheFees" data-toggle="checkbox" {{coverTheFeesChecked}} />
                                    I'll cover the credit card processing fees. <span><i id="coverTheFeesQuestion" class="fa fa-question-circle" data-toggle="popover"
                                     data-placement="bottom" data-trigger="hover focus" title="Processor fees" data-container="body"
                                     data-content="Our credit card processor charges 2.9% + .30 per transaction. If you check the box to cover these fees we'll do the math and change your gift amount to reflect this amount.">
                                </i></span>
                                <label for="total_amount_display">&nbsp;</label>
                                <p id="total_amount_display" class=""></p>
                            {{/if}}
                            <input type="hidden" id="total_amount" name="total_amount" value="{{amount}}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                {{> DonationTo}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <label for="donateWith">Method of Payment</label>
                                <select name="donateWith" id="donateWith" class="form-control select select-primary mbl" required>
                                    <option value="Check">Check</option>
                                    <option value="Card">Card</option>
                                </select>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <label for="is_recurring" id="frequency_label">Donation Frequency</label>
                                {{#unless locked_frequency}}
                                        <select type="text" name="is_recurring" id="is_recurring" class="form-control select select-primary mbl" required data-placeholder="Select an Option" data-parsley-error-message="  Choose one ^" >
                                        <option selected></option>
                                        <!--<option value="daily">Daily</option>-->
                                        <option value="monthly">Monthly</option>
                                        <option value="one_time">One-Time</option>
                                        <option value="weekly">Weekly</option>
                                        <option value="yearly">Yearly</option>
                                    </select>
                                {{else}}
                                    <br>
                                    <p class="uppercase-this">Monthly</p>
                                    <input type="hidden" name="is_recurring" id="is_recurring" value="monthly" />
                                {{/unless}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-10 col-xs-offset-1" style="{{#unless locked}}display: none;{{/unless}}" id="calendarSection">
                            <div class="form-group">
                                <label>Choose Your Donation Start Date</label>
                                <div class="input-group">

                                <span class="input-group-btn">
                                    <button class="btn" type="button"><span class="fui-calendar"></span></button>
                                </span>
                                    <input type="text" class="form-control" value="{{today}}" id="start_date" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="">
                            <label id="giftDesignationText" style="display: none;">
                                <strong>Your gift is designated to "{{writeInValue}}"</strong>
                            </label>
                        </div>
                    </div>


                    <!--call the address portion of the form -->
                    {{> RequestAddress}}
                    <h5>PAYMENT DETAILS
                        <span style="font-size: .6em;">{{{paymentQuestionIcon}}}</span>
                    </h5>

                    {{#if paymentWithCard}}
                        {{> cardPaymentInformation}}
                    {{else}}
                        {{> checkPaymentInformation}}
                    {{/if}}
                    <br>
                    <br>
                    <div class="form-group padBottom">
                        <div class="col-sm-offset-2 col-sm-8">
                          <button name="submitThisForm" type="submit" class="btn btn-block btn-hg btn-primary submit-button"
                                  data-toggle="modal" data-target=".bs-example-modal-lg" data-loading-text="Processing..."><span class="fa fa-paper-plane-o"></span> Send Donation</button>
                        </div>
                    </div>
                </fieldset>
            </div>
            <input type="hidden" id="enteredWriteInValue" value="{{writeInValue}}" />
            <input type="hidden" id="dt_source" value="{{dt_source}}" />
            <input type="hidden" id="donation_note" value="{{donation_note}}" />
        </form>
    </div>
    {{> Modals}}
</template>
