<template name="DonationTo">
    <label for="donateTo">Donation Designation</label>
    {{#unless marketplace}}
        <select {{attributes_Input_DonationTo}} class="form-control select select-primary mbl">
            <option value="WhereMostNeeded" selected >Where Most Needed</option>
            <optgroup label="BaseCamp" title="Basecamp is used to specify giving toward operational expenses, or to help support a missionary/staff member.">
                <option value="Operations">Basecamp - Operations Expenses</option>
                <option value="BrettDurbin" >Basecamp - Brett Durbin</option>
                <option value="ChrisMammoliti" >Basecamp - Chris Mammoliti</option>
                <option value="DaveHenry">Basecamp - Dave Henry</option>
                <option value="JamesHishmeh">Basecamp - James Hishmeh</option>
                <option value="JohnKazaklis" >Basecamp - John Kazaklis</option>
                <option value="JoshuaBechard" >Basecamp - Joshua Bechard</option>
                <option value="RussellWest" >Basecamp - Russell West</option>
                <option value="ShelleySetchell" >Basecamp - Shelley Setchell</option>
                <option value="TimmCollins" >Basecamp - Timm Collins</option>
                <option value="WillieBrooks">Basecamp - Willie Brooks</option>
            </optgroup>
            <optgroup label="International Field Projects">
                <option value="FieldProjectsWhereverNeededMost">International Field Projects - Where Most Needed</option>
                <option value="Bolivia">International Field Projects - Bolivia</option>
                <option value="DominicanRepublic">International Field Projects - Dominican Republic</option>
                <option value="Honduras">International Field Projects - Honduras</option>
                <option value="Kenya">International Field Projects - Kenya</option>
                <option value="Philippines">International Field Projects - Philippines</option>
            </optgroup>
            <optgroup label="Community Sponsorship">
                <option value="CommunitySponsorshipWhereverNeededMost">Community Sponsorship - Where Most Needed</option>
                <option value="CommunitySponsorshipBoliviaCochabamba">Community Sponsorship - Bolivia - Cochabamba</option>
                <option value="CommunitySponsorshipDominicanRepublicSantiago">Community Sponsorship - Dominican Republic - Santiago</option>
                <option value="CommunitySponsorshipHondurasTegucigalpa">Community Sponsorship - Honduras - Tegucigalpa</option>
                <option value="CommunitySponsorshipKenyaDandora">Community Sponsorship - Kenya - Dandora</option>
                <option value="CommunitySponsorshipPhilippinesPayatas">Community Sponsorship - Philippines - Payatas</option>
                <option value="CommunitySponsorshipPhilippinesSanMateo">Community Sponsorship - Philippines - San Mateo</option>
                <option value="CommunitySponsorshipPhilippinesSantiago">Community Sponsorship - Philippines - Santiago City/Isabella</option>
                <option value="CommunitySponsorshipPhilippinesSmokeyMtn">Community Sponsorship - Philippines - Smokey Mountain</option>
                <option value="CommunitySponsorshipPhilippinesTanza">Community Sponsorship - Philippines - Tanza</option>
            </optgroup>
            <optgroup label="Write In">
                <option value="WriteIn">Write In</option>
            </optgroup>
        </select>
    {{else}}
        <br>
        <p class="uppercase_this">{{marketplace}}</p>
        <input type="hidden" {{attributes_Input_DonationTo}} value="{{marketplace}}" />
    {{/unless}}
</template>