<template name="DonationForm">
    <div class="container form-container">
        <div class="row text-center" id="spinContainer">

		<form class="form-horizontal donation-form" role="form" id="donation_form" name="donation_form" data-parsley-focus="first"
            data-parsley-excluded="input[type=submit], input[type=reset], input[type=hidden], [disabled], :hidden"
            style="background-color: white;">

            <div class="col-md-6 col-md-offset-3">
            </div>
            <div class="col-lg-8 col-md-8 col-md-offset-2">

    			<fieldset>
                    {{#unless campaign}}
                        <h2>THANK YOU</h2>
                    {{else}}
                        {{{campaign}}}
                    {{/unless}}

                    <!-- Amount of donation -->
    				<div class="donation_amount text-center well well-lg form-group">
    				    <div id='amount_width' class="{{amountWidth}}">
                            <label class="control-label" for="amount">Donation Amount</label>

                            {{#unless locked_amount}}
                                <div class="input-group">
                                    <!--[if lt IE 9]>
                                        <label>Amount</label>
                                    <![endif]-->

                                    <span class="input-group-addon">$</span>
                                        <input {{attributes_Input_Amount}} type="digits" value="{{amount}}" class="form-control slim-borders"
                                   required data-parsley-error-message="Please enter an amount with no commas." data-parsley-errors-container="#show-amount-error-here" />
                                </div>
                                <div id="show-amount-error-here"></div>
                            {{else}}
                                <br>
                                <span>$</span>{{amount}}
                                <input {{attributes_Input_Amount}} type="hidden" value="{{amount}}" />
                            {{/unless}}

    				    </div>
                        <div class="text-left col-md-7 col-sm-8 col-xs-12">
                            {{#if paymentWithCard}}
                                <!-- Checbox for Covering related fees-->
                                <input type="checkbox" name="coverTheFees" id="coverTheFees" data-toggle="checkbox" {{coverTheFeesChecked}} />
                                    I'll cover the credit card processing fees. <span><i id="coverTheFeesQuestion" class="fa fa-question-circle" data-toggle="popover"
                                     data-placement="bottom" data-trigger="hover focus" title="Processor fees" data-container="body"
                                     data-content="Our credit card processor charges 2.9% + .30 per transaction. If you check the box to cover these fees we'll do the math and change your gift amount to reflect this amount.">
                                </i></span>
                                <label for="total_amount_display">&nbsp;</label>
                                <p id="total_amount_display" class=""></p>

                            {{else}}
                            {{/if}}
                            <input type="hidden" id="total_amount" name="total_amount" value="{{amount}}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                {{> DonationTo}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <label for="donateWith">Method of Payment</label>
                                <select name="donateWith" id="donateWith" class="form-control select select-primary mbl" required>
                                    <option value="Check">Check</option>
                                    <option value="Card">Card</option>
                                </select>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <label for="is_recurring" id="frequency_label">Donation Frequency</label>
                                {{#unless locked_frequency}}
                                        <select type="text" name="is_recurring" id="is_recurring" class="form-control select select-primary mbl" required data-placeholder="Select an Option" data-parsley-error-message="  Choose one ^" >
                                        <option selected></option>
                                        <!--<option value="daily">Daily</option>-->
                                        <option value="monthly">Monthly</option>
                                        <option value="one_time">One-Time</option>
                                        <option value="weekly">Weekly</option>
                                        <option value="yearly">Yearly</option>
                                    </select>
                                {{else}}
                                    <br>
                                    <p class="uppercase_this">Monthly</p>
                                    <input type="hidden" name="is_recurring" id="is_recurring" value="monthly" />
                                {{/unless}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-10 col-xs-offset-1" style="{{#unless locked}}display: none;{{/unless}}" id="calendarSection">
                            <div class="form-group">
                                <label>Choose Your Donation Start Date</label>
                                <div class="input-group">

                                <span class="input-group-btn">
                                    <button class="btn" type="button"><span class="fui-calendar"></span></button>
                                </span>
                                    <input type="text" class="form-control" value="{{today}}" id="start_date" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="">
                            <label id="giftDesignationText" style="display: none;"><strong>Your gift is designated to "{{writeInValue}}"</strong></label>
                            <label id="campaignText" style="display: none;"><strong>Attended the 1000 Children event at "{{campaignName}}"</strong></label>
                        </div>
                    </div>


    				<!--call the address portion of the form -->
                    {{> RequestAddress}}
                    <h5>PAYMENT DETAILS
                        <span style="font-size: .6em;">{{{paymentQuestionIcon}}}</span>
                    </h5>

                    {{#if paymentWithCard}}
                        {{> cardPaymentInformation}}
                    {{else}}
                        {{> checkPaymentInformation}}
                    {{/if}}


                    <br>
    				<div class="form-group padBottom">
    			        <div class="col-sm-offset-2 col-sm-8">
    			          <button name="submitThisForm" type="submit" class="btn btn-block btn-hg btn-primary"
                                  data-toggle="modal" data-target=".bs-example-modal-lg" data-loading-text="Processing..."><span class="fa fa-paper-plane-o"></span> Send Donation</button>
                        </div>
                    </div>
    			</fieldset>
            </div>
            <input type="hidden" id="enteredWriteInValue" value="{{writeInValue}}" />
            <input type="hidden" id="dt_source" value="{{dt_source}}" />
    	</form>
    </div>
    </div>

    {{> Modals}}
</template>

<template name="checkPaymentInformation">
	<!-- Bank Info -->
	<div class="form-group">
		<div class="col-sm-6">
            <!--[if lt IE 9]>
                <label>Account Number</label>
            <![endif]-->
			<input {{attributes_Input_AccountNumber}} data-parsley-type="number" class="form-control slim-borders" />
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-6">
            <!--[if lt IE 9]>
                <label>Routing Number</label>
            <![endif]-->
			<input {{attributes_Input_RoutingNumber}} class="form-control slim-borders" />
		</div>
	</div>
    <!-- Checbox for Covering related fees-->
    <input type="checkbox" name="save_payment" id="save_payment" data-toggle="checkbox" {{save_payment_checked}} />
    Save this payment method for future use <span><i id="save_payment_question" class="fa fa-question-circle" data-toggle="popover"
             data-placement="bottom" data-trigger="hover focus" title="Save Bank Account" data-container="body"
             data-content="If checked, we'll store a secure token of your payment details so you can give quicker using this payment
             method in the future.">
    </i></span>
    <div name="checkGraphic" class="center-block check-graphic col-sm-6 col-xs-12">
    </div>

</template>


<template name="cardPaymentInformation">
	<!-- CC Info -->
	<div class="form-group">
        <div class="col-md-9 col-sm-9 col-xs-8">
            <!--[if lt IE 9]>
                <label>Card Number</label>
            <![endif]-->
          <input type="text" class="form-control slim-borders" id="card_number"
                 placeholder="Debit/Credit Card Number" data-parsley-type="number" data-parsley-length="[14,16]" data-parsley-error-message="This should be between 14-16 numbers, no dashes or spaces." required>
        </div> <!-- 4111111111111111 -->
        <div class="col-md-3 col-sm-3 col-xs-4">
            <!--[if lt IE 9]>
                <label>CVV Code</label>
            <![endif]-->        
            <input type="text" class="form-control slim-borders" id="cvv"
                   placeholder="CVV" data-parsley-type="number" data-parsley-minlength="3" required>
        </div>
    </div>
    <div class="form-group">
        <!--<label class="col-lg-3 col-md-4 col-sm-4 col-xs-3 control-label noRightPadding" for="expiry_month">Expiration Date</label>-->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="expiry_monthDiv">
            <select class="form-control  select select-primary select-block mbl" id="expiry_month" required>
                <option value="">Month</option>
                <option value="01">Jan (01)</option>
                <option value="02">Feb (02)</option>
                <option value="03">Mar (03)</option>
                <option value="04">Apr (04)</option>
                <option value="05">May (05)</option>
                <option value="06">June (06)</option>
                <option value="07">July (07)</option>
                <option value="08">Aug (08)</option>
                <option value="09">Sep (09)</option>
                <option value="10">Oct (10)</option>
                <option value="11">Nov (11)</option>
                <option value="12">Dec (12)</option>
            </select>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" name="expiry_yearDiv">
            <select class="form-control select select-primary select-block mbl" id="expiry_year" required>
                <option value="">Year</option>
                <option value="2015">2015</option>
                <option value="2016">2016</option>
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
                <option value="2024">2024</option>
            </select>
        </div>
        <!-- Checbox for Covering related fees-->
        <input type="checkbox" name="save_payment" id="save_payment" data-toggle="checkbox" {{save_payment_checked}} />
         Save this payment method for future use <span><i id="save_payment_question" class="fa fa-question-circle" data-toggle="popover"
             data-placement="bottom" data-trigger="hover focus" title="Save Card" data-container="body"
             data-content="If checked, we'll store a secure token of your payment details so you can give quicker using this payment
             method in the future.">
        </i></span>
        
    </div>
</template>
