<template name="GiveDropdownGroup">
    <div class="form-group">
        <div class="row">
            <div class="text-center col-lg-4 col-md-4 col-sm-4">
                {{> DonationTo}}
            </div>
            <div class="text-center col-lg-4 col-md-4 col-sm-4">
                <label for="is_recurring" id="frequency_label">Donation Frequency</label>
                {{#unless marketplace}}
                    <select type="text" name="is_recurring" id="is_recurring" class="form-control select select-primary mbl" required data-placeholder="Select an Option" data-parsley-error-message="  Choose one ^" >
                        <option selected></option>
                        <option value="one_time">One-Time</option>
                        <option value="monthly">Monthly</option>
                        <option value="weekly">Weekly</option>
                        <option value="daily">Daily</option>
                    </select>
                {{else}}
                    <br>
                    <div class="text-center"><p class="uppercase_this">Monthly</p></div>
                    <input type="hidden" name="is_recurring" id="is_recurring" value="monthly" />
                {{/unless}}
            </div>
            <div class="text-center col-lg-4 col-md-4 col-sm-4">
                <label for="donateWith" id="donateWith_label">Pay With</label>
                <select name="donateWith" id="donateWith" class="form-control select select-primary mbl" required data-placeholder="Select an Option">
                    <option value="Card">New Card</option>
                    <option value="Check">New Bank</option>
                    {{#each device}}
                        <option value="{{this.id}}" selected {{selected}}>{{brand}} - {{last4}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-10 col-xs-offset-1" style="display: none;" id="calendarSection">
                    <div class="form-group">
                        <label>Choose Your Donation Start Date</label>
                        <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn" type="button"><span class="fui-calendar"></span></button>
                                </span>
                            <input type="text" class="form-control" value="{{today}}" id="start_date" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<template name="AdminGiveDropdownGroup">
    <div class="form-group">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                {{> DonationTo}}
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <label for="is_recurring" id="frequency_label">Donation Frequency</label>
                <select name="is_recurring" id="is_recurring" class="form-control select select-primary mbl" required data-placeholder="Select an Option" data-parsley-error-message="  Choose one ^" >
                    <option selected></option>
                    <option value="one_time">One-Time</option>
                    <option value="monthly">Monthly</option>
                    <option value="weekly">Weekly</option>
                    <option value="daily">Daily</option>
                </select>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <label for="donateWith" id="donateWith_label">Pay With</label>
                <select name="donateWith" id="donateWith" class="form-control select select-primary mbl" required data-placeholder="Select an Option">
                    <option value="Card">New Card</option>
                    <option value="Check">New Bank</option>
                    {{#each device}}
                        <option value="{{this.id}}" selected {{selected}}>{{brand}} - {{last4}} {{customer}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-10 col-xs-offset-1" style="display: none;" id="calendarSection">
                    <div class="form-group">
                        <label>Choose Your Donation Start Date</label>
                        <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn" type="button"><span class="fui-calendar"></span></button>
                                </span>
                            <input type="text" class="form-control" value="{{today}}" id="start_date" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>