<template name="Thanks">
    <!--[if lt IE 9]>
        <style>
            #success_pending_icon, #failed_icon {
                display:none;
            } 
    <![endif]-->
	<div class="container hidden-print fix-height">
	    <div class="row vertical-center-row">
	        <div class="col-lg-10 col-lg-offset-1 alignReceipt">
    			{{#if successOrPendingPayment}}
		 			{{{successOrPendingTrans}}}
		 		{{else}}
                    {{{failedTrans}}}
		 		{{/if}}
	        </div>
	    </div>
	</div>
	<div class="Receipt">
        {{#if displayReceipt}}
        	{{> Receipt}}
	    {{else}}
	 	{{/if}}
    </div>
</template>