<template name="Thanks">
    <!--[if lt IE 9]>
        <style>
            #success_pending_icon, #failed_icon {
                display:none;
            } 
    <![endif]-->

	<div class="row text-center hidden-print">
        <div class="blackBackground"><a href="https://trashmountain.com" target="_blank"><img class="logoImage" src="/images/bw_logo.png">	</a>
        </div>
    </div>
    <div class="outerTitle">
        <div class="innerTitle">
            <div class="centerTitle">
                <div class="positionedAbsolute">
                    {{#if MeteorUser}}
                        <button class="btn btn-primary" type="button" id="userProfileButton"><span class="fa fa-user"> User Profile Page</span></button>
                    {{/if}}
                    <span class="signInOut" >{{> atNavButton}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="loginButton">
    </div>
	<div class="container hidden-print fix-height">
	    <div class="row vertical-center-row">
	        <div class="col-lg-10 col-lg-offset-1 alignReceipt">
    			{{#if successOrPendingPayment}}
		 			{{{successOrPendingTrans}}}
		 		{{else}}
                    {{{failedTrans}}}
		 		{{/if}}
	        </div>
	    </div>
	</div>
	<div class="Receipt">
        {{#if displayReceipt}}
        	{{> Receipt}}
	    {{else}}
	 	{{/if}}
    </div>
</template>