<template name="TripsPublic">
    <div class="container">
        <div class="row">
            <label class="control-label">First</label>
            <select class="select">
                <option value="1">First</option>
                <option value="2">Second</option>
            </select>
        </div>
        <div class="row">
            <label class="control-label">Second</label>
            <select class="select">
                <option value="1">One</option>
                <option value="2">Two</option>
            </select>
        </div>
    </div>
</template>