<template name="Trip">

    <!-- TODO: add/remove fundraisers to the trip -->
    <!-- TODO:
        b. For each of them see if they already have an account (email address will be provided)
        e. Trips [] should include this { tripId, adjustments{deadline1: -100}, amountRaised: pulledInFromDT}

    4. On button click next to participants name (paper airplane) send them an
    invite to our system if they don't already have an account make this invite an enrollment invite
    5. When the trips page loads and finds trips, debounce for 1 min the function to get new DT info, but pull in the
    amount raised for each participant
    -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h3>{{#with trip}}<strong>{{name}}</strong>{{/with}}</h3>
                {{> quickForm schema="Schema.CreateFundraisersFormSchema" type="normal"
                id="fundraisers-form" template="bootstrap3-horizontal"}}
            </div>
            {{#if participant}}
                <div class="col-md-6">
                    <table class="table table-striped no-margin">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Raised</th>
                            <th colspan="2">% Raised</th>
                            <th class="text-center">Actions</th>
                        </tr>
                        </thead>
                        <tbody class="trips">
                        {{#each participant}}
                            <tr class="trips-row" data-id="{{_id}}">
                                <td>{{participantName}}</td>
                                <td>{{amountRaised}}</td>
                                <td colspan="2">
                                    <div class="progress progress-bar-info">
                                        <div class="progress-bar progress-bar-success"
                                             style="width: {{amountRaisedPercent amountRaised}}%;"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <button title="See details"
                                            class="btn btn-primary"
                                            type="button"
                                            data-toggle="collapse"
                                            data-target="#collapse-{{_id}}"
                                            aria-expanded="false"
                                            aria-controls="collapse-{{_id}}">
                                        <i class="fa fa-eye"></i>
                                    </button>
                                    <button type="button"
                                            title="Edit the participant details"
                                            class="btn btn-primary edit-participant"
                                            data-id="{{_id}}">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                    <button type="button"
                                            title="Remove this participant from the trip"
                                            class="btn btn-primary remove-participant"
                                            data-id="{{_id}}"
                                            data-loading-text="<i class='fa fa-spinner fa-spin'></i>"
                                            data-toggle="confirmation"
                                            aria-expanded="true">
                                        <i class="fa fa-stop"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr class="hiddenRow">
                                <td colspan="12">
                                    <div class="accordian-body collapse" id="collapse-{{_id}}">
                                        <table class="table table-striped">
                                            <thead>
                                                {{#with trip}}
                                                    {{#each deadlines}}
                                                    <tr>
                                                        <td>
                                                            {{this.name}}: <span class="pull-right">${{this.amount}}</span>
                                                        </td>
                                                        <td colspan="5">
                                                            <div class="progress progress-bar-info">
                                                                <div class="progress-bar progress-bar-success" style="width: {{percentageOfDeadline}}%;"></div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    {{/each}}
                                                {{/with}}
                                                <tr>
                                                    <th>Donor Name</th>
                                                    <th>Gift Amount</th>
                                                    <th>Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#if donationForThisFundraiser}}
                                                    {{#each donationForThisFundraiser}}
                                                        <tr>
                                                            <td>{{donorName}}</td>
                                                            <td>{{splitAmount}}</td>
                                                            <td>{{formatDateUTC received_on}}</td>
                                                        </tr>
                                                    {{/each}}
                                                {{else}}
                                                    <tr>
                                                        <td colspan="4" class="text-center">
                                                            <strong>No donations found under this participant</strong>
                                                        </td>
                                                    </tr>
                                                {{/if}}
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
                {{else}}
                <div class="col-md-6">
                    <h3>No Participants in this trip yet.</h3>
                </div>
            {{/if}}
        </div>
    </div>
</template>