<template name="TripMember">
    <div class="trip-member-details">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <span id="subscribed-span" class="status {{subscribed}} mouseover"
                          data-loading-text="<i class='fa fa-spinner fa-pulse'></i>">
                        <em>{{subscribed}}</em>
                    </span>
                    <i class='fa fa-question-circle'
                       data-toggle='popover' data-trigger='hover focus'
                       data-container='body' data-content="Click to subscribed
                       or un-subscribe from donation alerts for this trip. If you
                        subscribe you'll get an email each time someone gives toward your trip
                        (through the online giving system)">
                    </i>
                </div>
                <div class="col-md-6">
                    <h2 class="text-center">{{#with trip}}<strong>{{name}}</strong>{{/with}}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{#with participant}}
                        <div class="text-center">
                            <h3>Amount Raised: ${{amountRaised}}</h3>
                        </div>
                        <div class="progress progress-bar-info">
                            <div class="progress-bar progress-bar-success"
                                 role="progressbar"
                                 aria-valuemin="0"
                                 aria-valuemax="100"
                                 style="width: {{amountRaisedPercent amountRaised}}%;">
                            </div>
                        </div>
                        <table class="table no-margin no-border">
                            <tbody class="trips">
                                <tr>
                                    <td colspan="12">
                                        <div class="accordian-body">
                                            <table class="table no-border">
                                                <thead>
                                                {{#with trip}}
                                                    {{#each deadlines}}
                                                        <tr>
                                                            <td>
                                                                {{this.name}}: <span class="pull-right">${{adjustedAmount}}</span>
                                                            </td>
                                                            <td colspan="5">
                                                                <div class="progress progress-bar-info">
                                                                    <div class="progress-bar progress-bar-success" style="width: {{percentageOfDeadline}}%;"></div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    {{/each}}
                                                {{/with}}
                                                <tr>
                                                    <th>Donor Name</th>
                                                    <th>Gift Amount</th>
                                                    <th>Date</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {{#if donationForThisFundraiser}}
                                                    {{#each donationForThisFundraiser}}
                                                        <tr>
                                                            <td>{{donorName}}</td>
                                                            <td>{{splitAmount}}</td>
                                                            <td>{{formatDateUTC received_on}}</td>
                                                        </tr>
                                                    {{/each}}
                                                {{else}}
                                                    <tr>
                                                        <td colspan="4" class="text-center">
                                                            <strong>No donations found</strong>
                                                        </td>
                                                    </tr>
                                                {{/if}}
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    {{/with}}
                </div>
            </div>
        </div>
    </div>
</template>