<template name="TripsAdmin">
    <div class="container-fluid trips-form">
        <div class="row">
            <div class="col-md-5">
                <a type="button" class="btn btn-primary" id="getFundsList"
                   data-loading-text="<i class='fa fa-refresh fa-spin'></i> Updating">
                    <i class='fa fa-refresh'></i> Update Trips List
                </a>
                {{#if showUpdateTrip}}
                    {{> quickForm schema="Schema.Trips" collection="Trips" type="update" doc=tripDoc
                    id="trips-update-form" template="bootstrap3" resetOnSuccess=true}}
                {{else}}
                    {{> quickForm schema="Schema.Trips" type="method"
                    meteormethod="insertTrip" id="trips-form" template="bootstrap3"
                    resetOnSuccess=true}}
                {{/if}}
            </div>
            <div class="col-md-7">
                <table class="table table-striped table-hover no-margin">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th># of Participants</th>
                        <th>Dates</th>
                        <th class="text-center">Actions</th>
                    </tr>
                    </thead>
                    <tbody class="trips">
                    {{#each trips}}
                        <tr class="trips-row" data-id="{{_id}}">
                            <td>{{name}}</td>
                            <td>{{getParticipantNumber}}</td>
                            <td>{{formatDateUTC startDate true}} - {{formatDateUTC endDate true}}</td>
                            <td class="text-center">
                                <button type="button"
                                        title="See the trip details"
                                        class="btn btn-primary see-trip"
                                        data-id="{{_id}}">
                                    <i class="fa fa-eye"></i>
                                </button>
                                <button type="button"
                                        title="Edit trip"
                                        class="btn btn-primary edit-trip"
                                        data-id="{{_id}}">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <button type="button"
                                        title="Archive this trip"
                                        class="btn btn-primary archive-trip"
                                        data-id="{{_id}}"
                                        data-loading-text="<i class='fa fa-spinner fa-spin'></i>"
                                        data-toggle="confirmation"
                                        aria-expanded="true">
                                    <i class="fa fa-stop"></i>
                                </button>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>