<template name="TripAdmin">

    <!-- TODO:
    4. On button click next to participants name (paper airplane) send them an
    invite to our system if they don't already have an account make this invite an enrollment invite
    5. When the trips page loads and finds trips, debounce for 1 min the function to get new DT info, but pull in the
    amount raised for each participant
    -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 trip-member-details">
                    <span id="subscribed-span" class="status {{subscribed}} mouseover"
                          data-loading-text="<i class='fa fa-spinner fa-pulse'></i>">
                        <em>{{subscribed}}</em>
                    </span>
                <i class='fa fa-question-circle'
                   data-toggle='popover' data-trigger='hover focus'
                   data-container='body' data-content="Click to subscribed
                       or un-subscribe from donation alerts for this trip. If you
                        subscribe you'll get an email each time someone gives toward your trip
                        (through the online giving system)">
                </i>
            </div>
            <h2 class="text-center">{{#with trip}}<strong>{{name}}</strong>{{/with}}</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{> quickForm buttonContent="Add" schema="Schema.Fundraisers" type="normal"
                id="fundraisers-form"}}

            </div>
            {{#if participant}}
                <div class="col-md-6">
                    <table class="table no-margin no-border">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Raised</th>
                            <th colspan="2">% Raised</th>
                            <th class="text-center">Actions</th>
                        </tr>
                        </thead>
                        <tbody class="trips">
                        {{#each participant}}
                            <tr class="trips-row" data-id="{{_id}}">
                                <td>{{participantName}}</td>
                                <td>${{amountRaised}}</td>
                                <td colspan="2">
                                    <div class="progress progress-bar-info">
                                        <div class="progress-bar progress-bar-success"
                                             style="width: {{amountRaisedPercent amountRaised}}%;"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <button title="See details"
                                            class="btn btn-primary"
                                            type="button"
                                            data-toggle="collapse"
                                            data-target="#collapse-{{_id}}"
                                            aria-expanded="false"
                                            aria-controls="collapse-{{_id}}">
                                        <i class="fa fa-eye"></i>
                                    </button>
                                    <button type="button"
                                            title="Edit the participant details"
                                            class="btn btn-primary edit-participant"
                                            data-toggle="collapse"
                                            data-target="#collapse-edit-{{_id}}"
                                            aria-expanded="false"
                                            aria-controls="collapse-edit-{{_id}}">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                    <button type="button"
                                            title="Remove this participant from the trip"
                                            class="btn btn-primary remove-participant"
                                            data-id="{{_id}}"
                                            data-loading-text="<i class='fa fa-spinner fa-spin'></i>"
                                            data-toggle="confirmation"
                                            aria-expanded="true">
                                        <i class="fa fa-stop"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr class="hiddenRow">
                                <td colspan="12">
                                    <div class="accordian-body collapse" id="collapse-{{_id}}">
                                        <table class="table no-border">
                                            <thead>
                                                {{#with trip}}
                                                    {{#each deadlines}}
                                                    <tr>
                                                        <td>
                                                            {{this.name}}: <span class="pull-right">${{adjustedAmount}}</span>
                                                        </td>
                                                        <td colspan="5">
                                                            <div class="progress progress-bar-info">
                                                                <div class="progress-bar progress-bar-success" style="width: {{percentageOfDeadline}}%;"></div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    {{/each}}
                                                {{/with}}
                                                <tr>
                                                    <th>Donor Name</th>
                                                    <th>Gift Amount</th>
                                                    <th>Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#if donationForThisFundraiser}}
                                                    {{#each donationForThisFundraiser}}
                                                        <tr>
                                                            <td>{{donorName}}</td>
                                                            <td>{{splitAmount}}</td>
                                                            <td>{{formatDateUTC received_on}}</td>
                                                        </tr>
                                                    {{/each}}
                                                {{else}}
                                                    <tr>
                                                        <td colspan="4" class="text-center">
                                                            <strong>No donations found under this participant</strong>
                                                        </td>
                                                    </tr>
                                                {{/if}}
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr class="hiddenRow">
                                <td colspan="12">
                                    <div class="accordian-body collapse" id="collapse-edit-{{_id}}">
                                        <form name="{{_id}}" class="update-participant">

                                            {{#with trip}}
                                                {{#each deadlines}}
                                                    <label>Adjustment of {{this.name}}</label>
                                                    <input type="text"
                                                           class="form-control trip-adjustments"
                                                           value="{{deadlineAdjustmentValue}}"
                                                           name="{{this.id}}"/>
                                                {{/each}}
                                            {{/with}}
                                            <div class="col-md-6">
                                                <label>First Name</label>
                                                <input class="form-control"
                                                       type="text"
                                                       value="{{this.fname}}"
                                                       name="fname" />
                                            </div>
                                            <div class="col-md-6">
                                                <label>Last Name</label>
                                                <input class="form-control"
                                                       type="text"
                                                       value="{{this.lname}}"
                                                       name="lname" />
                                            </div>
                                            <label>Email</label>
                                            <input class="form-control"
                                                   type="text"
                                                   value="{{this.email}}"
                                                   name="email" />
                                            <br>
                                            <div>
                                                <button type="submit" class="btn btn-primary">Update</button>
                                            </div>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
                {{else}}
                <div class="col-md-6">
                    <h3>No Participants in this trip yet.</h3>
                </div>
            {{/if}}
        </div>
    </div>
</template>