<template name="FixCardSubscription">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4 center-block" style="float: none;">
            <h4>{{#if addNew}} Complete Card Form {{else}} Update Expiration Date {{/if}}</h4>
            <div class="panel panel-default billing-module">
                <form id="resubscribe">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    {{#if isRepair}}
                                        {{#if addNewCard}}
                                            <label class="text-success"><i class="fa fa-lock"></i> Card Number (Secure, Like a Bank)</label>
                                            <input type="text" name="cardNumber" class="form-control card-number" placeholder="Card Number"><br>
                                            <a class="cancel-new-card btn btn-primary btn-block" href="" >Switch to update expiration form</a>
                                        {{else}}
                                            {{#if customer}}
                                                <p class="alert alert-info">Account used: <strong> {{customer_device.brand}}</strong> ....{{customer_device.last4}}
                                                    <br><span class="{{expired_class}}">Expires: <strong>{{#if customer_device.exp_year}}{{customer_device.exp_month}}/{{customer_device.exp_year}}{{/if}}</strong></span></p>
                                                <p><a class="add-new-card btn btn-primary btn-block" href="#">Switch to add new card form</a></p>
                                            {{/if}}
                                        {{/if}}
                                    {{else}}
                                        <input type="text" name="cardNumber" class="form-control card-number" placeholder="Card Number">
                                    {{/if}}
                                </div>
                            </div>
                        </div> <!-- end .row -->

                        <div class="row">
                            {{#if isRepair}}
                                <div class="col-xs-12 col-md-12">
                                    <div class="form-group">
                                        <div class="col" id="expiry_monthDiv">
                                            <select class="form-control  select select-primary select-block mbl" name="expMo" required>
                                                <option value="">Month</option>
                                                <option value="01">Jan (01)</option>
                                                <option value="02">Feb (02)</option>
                                                <option value="03">Mar (03)</option>
                                                <option value="04">Apr (04)</option>
                                                <option value="05">May (05)</option>
                                                <option value="06">June (06)</option>
                                                <option value="07">July (07)</option>
                                                <option value="08">Aug (08)</option>
                                                <option value="09">Sep (09)</option>
                                                <option value="10">Oct (10)</option>
                                                <option value="11">Nov (11)</option>
                                                <option value="12">Dec (12)</option>
                                            </select>
                                        </div>
                                        <div class="col" name="expiry_yearDiv">
                                            <select class="form-control select select-primary select-block mbl" name="expYr" required>
                                                <option value="">Year</option>
                                                <option value="2016">2016</option>
                                                <option value="2017">2017</option>
                                                <option value="2018">2018</option>
                                                <option value="2019">2019</option>
                                                <option value="2020">2020</option>
                                                <option value="2021">2021</option>
                                                <option value="2022">2022</option>
                                                <option value="2023">2023</option>
                                                <option value="2024">2024</option>
                                                <option value="2024">2025</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                {{#if addNewCard}}
                                    <div class="col-xs-12 col-md-12">
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <img src="/images/cvv.jpg" height="150px">
                                            </div>
                                            <div class="col-md-6">
                                                <input type="password" class="form-control pull-right" data-parsley-type="number" data-parsley-minlength="3" name="cvCode" placeholder="CVV" required />
                                            </div>
                                        </div>
                                    </div>
                                {{/if}}
                            {{/if}}
                        </div>
                    </div> <!-- end .panel-body -->
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-primary resubscribe" data-loading-text="Processing...">Update</button>
                        <a id="cancel-card-form" class="btn btn-warning">Cancel</a>
                    </div>
                </form> <!-- end #resubscribe -->
            </div>
        </div> <!-- end .col-xs-12 -->
    </div> <!-- end .row -->
    {{> Modals}}
</template>