<template name="SubscriptionsOverview">
  <div class="panel panel-default billing-module">
    <div class="panel-heading">
      <h3 class="panel-title">Recurring Gifts Overview</h3>
    </div>
    <div class="panel-body">
        {{#if subscriptions}}
            {{#each subscriptions}}
                <div class="col col-lg-3">
                <ul class="list-group">
                    <!--
                      We just map out each type here so we don't have a bunch of tangled state.
                      Wire this up as you see fit. Just make sure to account for each status type you need :)
                      See: https://stripe.com/docs/api#subscription_object.
                    -->
                    {{#if equals status "trialing"}}
                        <li class="list-group-item list-group-item-info" data-subscription-id="{{id}}">
                            <p>This gift is schedule for {{epochToString trial_end}}. <!--<a href="#" class="cancel-subscription">Cancel Subscription</a>--></p>
                        </li>
                    {{/if}}
                    {{#if equals status "pending"}}
                        <li class="list-group-item list-group-item-info" data-subscription-id="{{id}}">
                            <p>This gift is pending  {{epochToString trial_end}}. <!--<a href="#" class="cancel-subscription">Cancel Subscription</a>--></p>
                        </li>
                    {{/if}}
                    {{#if equals status "active"}}
                    <li class="list-group-item list-group-item-success" data-subscription-id="{{id}}">
                      Status: Active
                    </li>
                    {{/if}}
                    {{#if equals status "canceled"}}
                    <li class="list-group-item list-group-item-danger" data-subscription-id="{{id}}">
                      Status: Cancelled
                    </li>
                    {{/if}}
                    {{#if equals status "past_due"}}
                        <li class="list-group-item list-group-item-danger" data-subscription-id="{{id}}">
                            Status: Failing
                        </li>
                    {{/if}}
                    <li class="list-group-item bm-block clearfix">
                      <div class="bm-block-content">
                            Frequency: <strong>{{capitalize plan_name}}</strong>
                      </div>
                    </li>
                      <!--<span class="bm-block-label">Payment<strong>{{type}}</strong> {{lastFour}}</span>-->
                    <li class="list-group-item bm-block clearfix">To: <strong>{{metadata.donateTo}}</strong></li>
                    <li class="list-group-item bm-block clearfix">With: <strong>{{show_donate_with}}</strong></li>
                    <li class="list-group-item bm-block clearfix">Amount: <strong>{{centsToDollars quantity}}</strong></li>
                    {{#unless equals status "canceled"}}
                        <li class="list-group-item bm-block clearfix">Next gift on: <strong>{{epochToString current_period_end}}</strong></li>
                    {{else}}
                        <li class="list-group-item bm-block clearfix">Ended on: <strong>{{epochToString ended_at}}</strong></li>
                    {{/unless}}
                    {{#if equals status "canceled"}}
                    <li class="list-group-item bm-block clearfix">
                        <span>Canceled Reason: {{canceled_reason}}</span>
                    </li>
                    {{/if}}
                    {{#if equals status "active"}}
                        <li class="list-group-item bm-block clearfix">
                            <a id="cancel_subscription" href="" class="btn btn-block btn-default cancelButton">Cancel</a>
                        </li>
                        {{#if card_subscription}}<li class="list-group-item bm-block clearfix">
                            <a href="{{pathFor 'FixCardSubscription'}}?s={{id}}&c={{customer}}" class="btn btn-block btn-default">Update Payment</a>
                        </li>{{/if}}
                    {{/if}}
                    {{#if equals status "past_due"}}
                        <li class="list-group-item bm-block clearfix">
                            <a href="{{pathFor 'FixSubscription'}}?s={{id}}" class="btn btn-block btn-default">Fix</a>
                        </li>
                    {{/if}}
                    {{#if equals status "canceled"}}
                        {{#if card_subscription}}
                            <li class="list-group-item bm-block clearfix">
                                <a href="{{pathFor 'FixCardSubscription'}}?s={{id}}&c={{customer}}" class="btn btn-block btn-default">Activate</a>
                            </li>
                        {{else}}
                            <li class="list-group-item bm-block clearfix">
                                <a href="{{pathFor 'FixBankSubscription'}}?s={{id}}&c={{customer}}" class="btn btn-block btn-default">Activate</a>
                            </li>
                        {{/if}}
                    {{/if}}
                      <!--<a href="{{pathFor 'PaymentDevice'}}" class="btn btn-block btn-default">Update Payment Method</a>-->
                  </ul>

                </div>
            {{/each}}
        {{else}}
            <div class="col col-lg-6 col-lg-offset-3">
                <a href="{{pathFor 'donation.form'}}?recurring=monthly" class="btn btn-block btn-success">Setup a recurring gift</a>
            </div>
        {{/if}}

    </div>
    {{#if number_of_subscriptions}}
        <div class="row text-center">
            <nav>
                <ul class="pager">
                <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Previous page</a></li>
                <li class="next"><a href="#">Next page <span aria-hidden="true">&rarr;</span></a></li>
                </ul>
            </nav>
        </div>
    {{/if}}
  </div>
</template>
