<template name="UserNav">
    <nav class="navbar navbar-collapse navbar-top hidden-print" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#example-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="https://trashmountain.com" target="_blank">
                <img class="logoImage" src="/images/bw_logo_new.png">
            </a>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="example-navbar-collapse">
            <ul class="nav navbar-nav">
                {{#if MeteorUser}}
                {{#if isInRole 'admin'}}
                    <li class="">
                        <a id="nav-dashboard" class="nav-bar-links" href="{{pathFor 'admin.dashboard'}}"><span class="fa fa-dashboard"></span> Admin Dashboard</a>
                    </li>
                {{/if}}
                <li class="">
                    <a id="nav-profile" class="nav-bar-links" href="{{pathFor 'user.profile'}}"><span class="fa fa-history"></span> Profile & Giving History</a>
                </li>
                <li class="">
                    <a id="nav-subscriptions" class="nav-bar-links" href="{{pathFor 'subscriptions'}}"><span class="fa fa-refresh"></span> Recurring Gifts</a>
                </li>
                <li class="">
                    <a id="nav-give" class="nav-bar-links" href="{{pathFor 'user.give'}}"><span class="fa fa-plus-circle"></span> Give</a>
                </li>
                <li class="">
                    <a id="nav-password" class="nav-bar-links" href=""><span class="fa fa-unlock-alt"></span> Change Password</a>
                </li>
                <li class="">
                    <a id="nav-sign-out" href="" class="nav-bar-links at-link at-signout">Sign Out</a>
                </li>
                {{else}}
                <li class="">
                    <a href="/sign-in" id="at-signIn" class="nav-bar-links at-link at-signin">Sign In</a>
                </li>
                {{/if}}
            </ul>
        </div>
    </nav>
</template>