<template name="UserProfile">
    <div class="UserCSS">
        <div class="container">
            <div class="row">
        </div>
        <div class="row">
            <!-- Tabs -->
            {{#unless not_dt_user}}
                <h3>Your accounts</h3>
            <ul id="myTabs" class="nav nav-tabs nav-append-content">
                {{#each personas}}
                    <li class="">
                        <a href="#{{this.id}}" value="{{this.id}}" role="tab" data-toggle="tab" aria-expanded="false">{{company_or_name}}</a>
                    </li>
                {{/each}}
            </ul>

            <!-- Tab content -->
            <div class="tab-content">
                {{#each personas}}
                    <div class="tab-pane" role="tabpanel" id="{{id}}">
                        <div class="panel-body billing-module">
                            <div id="giving_section" class="col col-lg-6 col-md-6">
                                <div class="col-sm-12">
                                    <br>
                                    <div class="col-xs-12 col-sm-8">
                                        {{{company_name}}}
                                        <h5 id="profile_section">{{names.[0].first_name}} {{names.[0].last_name}}</h5>
                                        <p>
                                            <strong>Address: </strong>  <i class="fa fa-pencil edit_address green-icons"></i><br>
                                            {{street_address.[0]}}<br>
                                            {{#if street_address.[1]}}
                                                {{street_address.[1]}}<br>
                                            {{/if}}
                                            {{addresses.[0].city}}, {{addresses.[0].state}} {{addresses.[0].postal_code}}<br>
                                            {{addresses.[0].country}}
                                        </p>
                                        <p>
                                            <strong>Phone:  </strong> <i class="fa fa-pencil edit_address green-icons"></i><br>
                                            {{phone_numbers.[0].phone_number}} <br>
                                        </p>
                                        <p>
                                            <strong>Email:  </strong> <br>
                                            {{email}} <br>
                                        </p>
                                        <p>
                                            <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#modal_for_address_change">
                                                Edit Profile
                                            </button>
                                        </p>
                                        <p>
                                            <a href="/" class="btn btn-primary btn-block" role="button"><span class="fa fa-plus-circle"></span> Give </a>
                                        </p>
                                        <div class="col-xs-12 divider text-center">
                                            <p>
                                            <ul class="nav nav-list">
                                                <li class="nav-header text-left"><br>Lifetime Giving Stats</li>
                                                <li class="active text-left">
                                                    <h7>Total Giving</h7>
                                                    <span class="pull-right"><h7>${{twoDecimalPlaces dt_gifts.total_given}}</h7></span>
                                                </li>
                                                <li class="text-left">
                                                    <h7>Number of Gifts</h7>
                                                    <span class="pull-right"><h7>{{dt_gifts.number_of_gifts}}</h7></span>
                                                </li>
                                            </ul>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 text-center">
                                        <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                            &nbsp; &nbsp; &nbsp;</p>
                                    </div>
                                    <br>&nbsp;
                                    <br>&nbsp;
                                </div>
                            </div>
                            {{#if showHistory}}
                                <div id="" class="col-md-6 col-lg-6">
                                    <h5 id="">Your Giving History {{#if dt_donations}}{{else}}<span class="redText">Retrieving...</span>{{/if}}</h5>
                                    <table class="table table-striped">
                                        <tbody>
                                            <tr class="responsiveFont">
                                                <th>Date</th>
                                                <th>To</th>
                                                <th>Amount</th>
                                            </tr>
                                            {{#each dt_donations}}
                                                <tr class="responsiveFont {{redText}} {{clickable_row}}" data-href="{{receipt_link}}" data-dt-transaction-id="{{transaction_id}}">
                                                    <td class="change-td-padding">{{formatDate received_on null}}</td>
                                                    <td class="change-td-padding">{{#each split}} {{{fundName}}} <br>{{/each}}</td>
                                                    <td class="text-right">${{#each split}}{{twoDecimalPlaces this.amount_in_cents}} <br>{{/each}}</td>
                                                </tr>
                                            {{/each}}
                                        </tbody>
                                        <span class="orange-text">
                                            pending gifts = orange
                                        </span>
                                        <span class="red-text">
                                            <br>failed gifts = red
                                        </span>
                                    </table>
                                    <nav>
                                        <ul class="pager">
                                            <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Newer gifts</a></li>
                                            <li class="next"><a href="#">Older gifts <span aria-hidden="true">&rarr;</span></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            {{/if}}
                    </div>
                </div>
                {{/each}}
            </div>
            {{else}}
                <h3>No Donor Tools Accounts</h3>
            {{/unless}}
        </div>
    </div>
        <div id="modal_for_address_change" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Edit Your Profile</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form" id="userAddressForm">
                        {{#with this_persona}}
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="line1">Address Line 1:</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="line1" placeholder="Address" value="{{personaStreetAddress.[0]}}" required data-parsley-error-message="Please enter an address">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="line2">Address Line 2:</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="line2" placeholder="Address Line 2" value="{{personaStreetAddress.[1]}}" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-1" for="city">City</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="city" placeholder="City" value="{{[0].addresses.[0].city}}" required data-parsley-error-message="Please enter a city">
                                </div>
                                <label class="control-label col-sm-1" for="state">State</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="state" placeholder="State" value="{{[0].addresses.[0].state}}" required data-parsley-error-message="Please enter a state">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-1" for="zip">Zip</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="zip" placeholder="Postal Code" value="{{[0].addresses.[0].postal_code}}" required data-parsley-error-message="Please enter a postal code">
                                </div>
                                <label class="control-label col-sm-1" for="phone">Phone</label>
                                <div class="col-sm-5">
                                    <input type="tel" class="form-control" id="phone" placeholder="Phone" value="{{[0].phone_numbers.[0].phone_number}}" required data-parsley-error-message="Please enter a phone number" >
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-8 col-sm-4 text-right">
                                    <button type="submit" class="btn btn-primary text-right" data-loading-text="Processing...">Submit</button>
                                </div>
                            </div>
                        {{/with}}
                        </form>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div><!--UserCSS-->
</template>