<template name="GetStripeEvent">
    <form class="form-horizontal" id="get_event_form">
        <fieldset>

            <!-- Event ID to get from Stripe -->
            <div class="text-center well well-lg form-group">
                <label class="control-label" for="event-id">Event ID to get from Stripe. Check the box to also process the event.</label>
                <div class="input-group">
                  <span class="input-group-addon">
                    <input id='event-process' type="checkbox" aria-label="...">
                  </span>
                    <input id='event-id' type="text" class="form-control slim-borders" required>
                </div><!-- /input-group -->
            </div>

            <div class="form-group padBottom">
                <div class="col-sm-offset-2 col-sm-8">
                    <button name="submit_get_event" type="submit" class="btn btn-block btn-hg btn-primary"> <span class="fa fa-search"></span> Get Event</button>
                </div>
            </div>
        </fieldset>
    </form>
</template>
